<h3>Welcome to the York Open Heritage Explorer</h3>
<p>This data visualisation brings together three datasets - house prices from the UK land registry; combined deprivation (economic, health etc.) ranks from the UK Office for National Statistics (ONS) "Indices of multiple deprivation" (IMD); English Heritage data for Grade I and II listed buildings - together on one map.</p>

<h4>How to use the explorer</h4>
<p>Listed buildings are displayed as clustered geomarkers, house prices and IMD ranks have been grouped into quintiles and coloured accordingly. Click on a geographical area or geomarker for more information, or click on a geomarker cluster to zoom into that cluster. You can switch between the datasets being visualised using the toggle in the top-right corner.</p>

<h4>Data Overview</h4>
<p>The geographical areas represented are <a href="http://www.ons.gov.uk/ons/guide-method/geography/beginner-s-guide/census/super-output-areas--soas-/index.html">LSOAs</a>. The ONS uses LSOAs for statistic gathering purposes, each chosen to contain roughly the same number of residents. IMD ranks were recalculated locally, based on the UK-wide IMD ranks, <a href="https://github.com/asacalow/york-open-heritage/blob/master/WORKINGS.md">see here for why</a>. House price data was calculated by matching house sales since August 2012 (~8k sales) with its LSOA on postcode, and the median sale price for each LSOA used. Quintiles were then generated so that each map colour represents a roughly equal number of LSOAs.</p>
<p>There is a more detailed overview and explanation of the data used and the workings which generated this visualisation <a href="https://github.com/asacalow/york-open-heritage/blob/master/WORKINGS.md">here</a>.</p>
<p>This work was conducted as part of the AHRC funded project <em>"How should decisions about heritage be made"</em>. All code and workings are <a href="https://github.com/asacalow/york-open-heritage">released</a> under a permissive, open-source BSD licence - reuse/repurpose at will.</p>
