<div class="marker-info">
  <h4>{{ name }}</h4>
  <p>Grade {{ grade}} listed, on {{ listedOn}}. View on <a href="http://list.english-heritage.org.uk/resultsingle.aspx?uid={{ entryNo }}" target="eh">english-heritage.org.uk</a>.</p>
</div>
