<div class="marker-info">
  <h4>{{ name }}</h4>
  <ul>
    <li>Ranked <strong>{{ rank }}</strong> of <strong>118</strong> locally (where 118 is the least deprived).</li>
    <li>Ranked <strong>{{ globalRank }}</strong> of <strong>32482</strong> in the UK (where 32482 is the least deprived).</li>
    <li>The median house price in this area is <strong>&pound;{{ averageSale }}</strong>.</li>
  </ul>
</div>
